@model Category

<div>
    <h1 class="create-book-title">Edit Category</h1>
</div>
<form style="margin-top: 36px; margin-left: 574px;" class="book-action-form" method="post" asp-action="Edit">
   
    <div class="form-input-wrapper">
        <label asp-for="Name"> <i class="bi bi-file-earmark-binary"></i> Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <button style="width: 175px;" type="submit">Update</button>
</form>