@model App_Dev.ViewModels.UserVM

<h2 class="text-capitalize" style="color: black; padding-left: 150px;">Edit User Password</h2>

<form method="post" style="margin-left:530px; margin-top: 100px">
    <input style="display: none" asp-for="Id"/>
    <div class="change-pass-wrapper" style="margin-bottom: 15px" >
        <label style="padding-bottom: 5px;">New Password</label>
        <input style="border: 2px solid black" value="" name="Password" asp-for="Password" class="form-control"
               placeholder="Enter a new password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-group d-flex" style="justify-content: center;">
            <button style="padding: 5px 10px; background: black; color: white; border-radius: 5px;" type="submit" value="Confirm">Confirm</button>
        </div>
    </div>
</form>