@model ApplicationUser
<form method="post">
    <input asp-for="Email" disabled />
    <input asp-for="FullName" disabled />
    <input asp-for="PhoneNumber" disabled />
    <input asp-for="City" disabled />
    <input asp-for="Address" disabled />
    <p>New password:</p><input name="password" />
    <button type="submit">Change password</button>
</form>