@model App_Dev.ViewModels.BookVM

<div>
    <h2 class="create-book-title">Create Book</h2>
</div>
<form class="book-action-form" method="post" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="Book.Id" hidden />
    <div class="form-input-wrapper">
        <label asp-for="Book.Name"><i class="bi bi-book-half"></i> Name</label>
        <input asp-for="Book.Name" />
        <span asp-validation-for="Book.Name"></span>
    </div>
    <div class="form-input-wrapper">
        <label asp-for="Book.Author"><i class="bi bi-person-lines-fill"></i> Author</label>
        <input asp-for="Book.Author" />
        <span asp-validation-for="Book.Author"></span>
    </div>
    <div class="form-input-wrapper">
        <label asp-for="Book.Price"><i class="bi bi-coin"></i> Price</label>
        <input asp-for="Book.Price" />
        <span asp-validation-for="Book.Price"></span>
    </div>
    <div class="form-input-wrapper">
        <label asp-for="Book.CategoryId"><i class="bi bi-menu-up"></i> Category</label>
        <select asp-for="Book.CategoryId" asp-items="@Model.CategoryList">
            <option disabled selected>Select Category</option>
        </select>
        <span asp-validation-for="Book.CategoryId"></span>
    </div>
    <div class="form-input-wrapper book-action-image">
        <label asp-for="Book.Image"><i class="bi bi-image-fill"></i> Image</label>
        <input id="file" class="file-input" type="file" name="file" />
        <label for="file" class="image-label" asp-for="Book.Image"><i class="bi bi-arrow-bar-up"></i><p>Choose an Image</p></label>
    </div>
    <div class="form-input-wrapper book-action-description">
        <label asp-for="Book.Description"><i class="bi bi-body-text"></i> Description</label>
        <textarea rows="4" asp-for="Book.Description"></textarea>
        <span asp-validation-for="Book.Description"></span>
    </div>
    <button type="submit" onclick="return ValidateInput()" >Create</button>
    <script>
        var input = document.querySelector('.file-input');
        var label = document.querySelector('.image-label');

        input.addEventListener('change', function (e) {
            
            var fileName = '';
            if (this.files) {
                fileName = "<i class='bi bi-check-circle-fill'></i><p>Image Selected</p>";
            }
            if (fileName) {
                console.log(fileName);
                label.innerHTML = fileName;
            }
        });
        

    </script>
</form>

@section Scripts{
    <script>
        function ValidateInput() {
            if(document.getElementById("file").value==""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!',
                    footer: '<a href="">Why do I have this issue?</a>'
                });
                return false;
            }
            return true;
        }
    </script>
}

