@model App_Dev.ViewModels.BookVM

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="Book.Id" hidden />
    <div>
        <h1>Create Book</h1>
    </div>
    <div>
        <label asp-for="Book.Name"></label>
        <input asp-for="Book.Name" />
        <span asp-validation-for="Book.Name"></span>
    </div>
    <div>
        <label asp-for="Book.Author"></label>
        <input asp-for="Book.Author" />
        <span asp-validation-for="Book.Author"></span>
    </div>
    <div>
        <label asp-for="Book.Price"></label>
        <input asp-for="Book.Price" />
        <span asp-validation-for="Book.Price"></span>
    </div>
    <div>
        <label asp-for="Book.Image"></label>
        <input type="file" name="file" />
    </div>
    <div>
        <label asp-for="Book.Description"></label>
        <input asp-for="Book.Description" />
        <span asp-validation-for="Book.Description"></span>
    </div>
    <div>
        <label asp-for="Book.CategoryId"></label>
        <select asp-for="Book.CategoryId" asp-items="@Model.CategoryList">
            <option disabled selected>--Select Category--</option>
        </select>
        <span asp-validation-for="Book.CategoryId"></span>
    </div>
    <button type="submit">Create</button>
    <a asp-controller="Book" asp-action="Index">Back to List</a>
</form>