@model Request
<form method="post">
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Details"></label>
        <input asp-for="Details" />
        <span asp-validation-for="Details"></span>
    </div>
    <button type="submit">Create</button>
</form>