@using App_Dev.Utility;
@model Request
<h2 style="padding-left: 530px; margin-bottom: 15px">Edit request</h2>
<form class="request-form-wrapper" method="post">
    <input asp-for="Id" hidden />
    <div class="request-infor">
        <label asp-for="ApplicationUserId"><i class="bi bi-person-circle"></i> User ID:</label>
        <input asp-for="ApplicationUserId" />
        <span asp-validation-for="ApplicationUserId"></span>
    </div>
    <div class="request-infor">
        <label asp-for="Description"><i class="bi bi-chat-square-text"></i> Description:</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="request-infor">
        <label asp-for="Details"><i class="bi bi-card-text"></i> Details:</label>
        <input asp-for="Details" /> 
        <span asp-validation-for="Details"></span>
    </div>
    <div class="request-grp">
        <select class="request-status" asp-for="Status">
            <option value="Waiting" selected>Waiting </option>
            <option value="Approved">Approved</option>
            <option value="Denied">Denied</option>
        </select>
        <button type="submit">Edit</button>
    </div>
</form>